
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    text-align: center;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    clear: both;
}

/* 美化底部栏样式 */
footer p {
    margin-bottom: 5px;
}
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #ddd;
}
footer p, footer span {
    display: flex;
    justify-content: center;
}

/* 调整图片位置 */
.image-container {
    display: flex;
    justify-content: space-around; /* 使图片均匀分布 */
    margin-bottom: 10px; /* 添加一些内边距，以调整间距 */
}
/* 改变图片原始大小 */
.large-image {
    width: 100px; /* 根据需要设置具体宽度 */
    height: 100%;
}